# requirements.txt (Versão corrigida para MySQL)

Flask
Flask-Cors
gunicorn
python-dotenv
huggingface_hub
SQLAlchemy  # Adicionado para gerenciar o banco de dados
PyMySQL     # Adicionado para conectar com o MySQL
